body {
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

img {
  border-radius: 50%;
  width: 2rem;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
  margin: 0.2rem;
  margin-right: 1rem;

}

h2, p {
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 0;
}

h2+p {
  opacity: 0.7;
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  width: 95%;
}

p {
  line-height: 1.5;
}

.students {
  display: grid;
  width: 70rem;
  margin: 10rem auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 280px;
  grid-template-areas:
    "std1 std1 std2 std5"
    "std3 std4 std4 std5";
  justify-content: center;
  grid-gap: 1.8rem;
}

.student {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 12px 15px 30px hsl(0, 0%, 81%);
}

.student1 {
  background-color: hsl(263, 55%, 52%);
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 80% 0%;
  grid-area: std1;
}

.student2 {
  background-color: hsl(217, 19%, 35%);
  grid-area: std2;
}

.student3 {
  grid-area: std3;
}

.student4 {
  background-color: hsl(219, 29%, 14%);
  grid-area: std4;
}

.student5 {
  grid-area: std5;
}

.student3, .student5 {
  background-color: hsl(0, 0%, 100%);
}

.student3 h2, .student3 p, .student5 h2, .student5 p {
  color: hsl(219, 29%, 14%);
}

.student1 h2, .student4 h2, .student1 h2+p, .student4 h2+p {
  width: 100%;
}

.name, .status {
  display: inline-block;
  margin: 0;
}

.status {
  font-size: 11px;
  opacity: 0.2;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.identification {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.student1 img {
  border-color: #9C7DCF;
}

.student2 img {
  border-color: hsl(210, 46%, 95%);
}

.student4 img {
  border-color: hsl(263, 55%, 52%);
}

.ripple {
  border-radius: 50%;
  background-color:  hsl(210, 46%, 75%);
  opacity: .5;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  pointer-events: none;
  animation: ripple .5s linear;
}

@keyframes ripple {
    to {
        width: 35rem;
        height: 35rem;
        opacity: 0;
    }
}


/* Tablet size */
@media(max-width:1200px) and (min-width:760px) {
  .students {
    width: 90%;
    min-width: 600px;
    margin: 5rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px 320px 260px;
    grid-template-areas:
      "std1 std1  std3"
      "std4 std4 std2 "
      "std5 std5 std5 ";
  }

  p {
    line-height: 1.2;
    width: 100%;
  }

  h2 {
    width: 100%;
  }
}

/* Mobile size */
@media(max-width:760px) {
  .students {
    width: 85%;
    min-width: 340px;
    margin: 5rem auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "std1"
      "std2"
      "std3"
      "std4"
      "std5";
  }

}
